@charset "utf-8";
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
body{
	color: #333;
	background:url(../images/bg.gif);
	min-width:320px;
	width:100%;
	font-size:14px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei";
	overflow-x:hidden;
}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #333;text-decoration:none;}

/*p{margin: 0 0 10px 0;}*/
pre{font-size: 12px;width: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
#page nav{display: none;}

#header{background: #1c1c1c;font-size: 16px;font-weight: bold;color: #fff;text-align: center;line-height: 40px;height: 40px;padding: 0 0 0 10%;  width:90%;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); position:relative; z-index:999;}
#header a{display: block;width: 40px;height: 40px;position: absolute;top: 0;left: 10px;}
#header a.user{left: auto;right: 10px;}
#header a.logo{ width:auto; height:40px; position:relative; }
#header a.logo img{ width:auto; height:30px; margin-top:5px; margin-left:-100px}
#header a.car{left: auto;right: 50px;}
#header a img{ width:25px; height:25px; margin-top:7.5px;}

/* 轮播 */
.banner{ position:relative; background:#fff; width:100%; overflow:hidden;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
#z_slider .flex-control-nav{ background:rgba(0,0,0,0.6); height:20px; line-height:20px; text-align:center;}
#z_slider .flex-control-paging li a{background-color: #fff; font-size:0; border-radius:1px;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}
#z_slider .flex-control-nav li{ margin:5px 3px;}
#z_slider .flex-control-paging li a.flex-active{ background-color:#FFF600; width:15px;}
/* 分类 */
.sort{overflow:hidden;width:99%; padding:1% 0 1% 1%;}
.sort a{ float:left; width:33%; display:block; text-align:center;}
.sort li{overflow:hidden;box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); margin:2px; background:#fff; position:relative;}
.sort li .imgbox{ float:left; width:100%;}
.sort li img{ width:100%;}
.sort li img:hover,.sort li img:active{ opacity:0.9;}
.sort li span{ text-align:center;display:block;text-overflow:ellipsis;white-space:nowrap; overflow:hidden; line-height:30px; height:30px; position:absolute; left:0; bottom:0; background:rgba(0,0,0,0.7); color:#fff; width:100%;}
/* 列表 */
.lists{ overflow:hidden; padding-bottom:1%;}
.lists h2{ padding:10px 2%; color:#666; background:#fff600; color:#000; position:relative; overflow:hidden; border:#fff600 solid 2px;}
.lists h2 a{ float:right; color:#000; font-weight:bold;}
.lists h2 img{ width:22px; height:22px; float:right;}
.lists li{ float:left; padding:2%; width:44%; margin:1%; float:left; background:#fff;	}
.lists li img{width:100%;}
.lists li img:hover,.lists li img:active{ opacity:0.9;}
.lists p{ text-align:left; height:20px; line-height:20px; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;padding:5px 0 0; margin-bottom:5px;}
.lists span{ display:block; text-align:left; color:#b20005; font-weight:bold; font-size:14px; float:left;  font-family: Georgia,"Microsoft YaHei";}
.lists i{ font-style:normal; text-decoration:line-through; float:right; color:#999; float:right; font-size:12px;}
.lists ul{ padding:5px;}
/* 底部 */
.footer{ width:100%; text-align:center; padding:10px 0;  background:#1c1c1c; position:relative;overflow:hidden;border-top: 3px solid #fff600;}
.footer p{ margin:2px 0; font-size:12px; color:#fff;}
.footer p a{ margin:0 5px; font-size:12px;color:#fff;}
.footer .top{ position:absolute; right:10px; bottom:10px; width:40px; height:40px; background:#fff; color:#1c1c1c; border-radius:50px; line-height:40px; font-weight:bold;}



/* 团购 */.tuan-title{padding:10px 2%; color:#666; background:#fff600; color:#000; position:relative; overflow:hidden; border:#fff600 solid 2px;}
.tuan_box{ overflow:hidden; padding:10px; background:#eee; position:relative;}
.tuan_list{  overflow:hidden; text-align:center; position:relative; width:100%;}
.tuan_list li a{display:inline-block;  width:200px; padding-bottom:5px; border:#eee solid 1px;}
.tuan_list li .con{ padding:10px;box-shadow:rgba(0,0,0,0.3) 1px 1px 2px; font-size:12px; background:#fff;}
.tuan_list li .con span{ display:block; margin:5px 0;}
.tuan_list li .con .tuan_price strong{ color:#b20005;}
.tuan_list li img{ width:100%;}
.tuan_list li .con .s_time img{ width:20px; height:20px; vertical-align:bottom;}
.tuan_imgbox{ position:relative;}
.tuan_imgbox p{overflow:hidden;  text-overflow: ellipsis;    white-space: nowrap; position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.7); color:#fff; padding:3px 0; text-align:center;}
.tuan_box .prenext{ width:17px; height:43px; background:url(../images/nextpre.png) no-repeat 0 7px; display:block; position:absolute; top:118px; background-size:35px;}
.tuan_box .pre{ left:20px;}
.tuan_box .next{ background-position:-18px 7px; right:20px;}

.red_btn{
background:##FFBD00;
background:linear-gradient(to bottom,#FFBD00,#FFBD00);
background: -moz-linear-gradient(top, #FFBD00,#FFBD00);
background: -ms-gradient(top, #FFBD00,#FFBD00);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFBD00), to(#FFBD00));
border:#FFBD00 solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#42352D;
background:linear-gradient(to bottom,#392C24,#42352D);
background: -ms-gradient(top, #392C24,#42352D);
background: -moz-linear-gradient(top,#392C24,#42352D);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#392C24), to(#42352D));
border:#2E2119 solid 1px;border-radius:3px;
color:#fff;
}