
.egg_index{width:96%;margin:2%;}

.egg_select{margin:10px 0;}
.egg_select .d{width:30%;float:left;margin-right:5%;}
.egg_select .d img{width:100%;}


.eggpresentrec_list{background:#fff;padding:10px;margin:10px 0;}
.eggpresentrec_list li{width:100%;height:30px;line-height:30px;border-bottom: #ccc solid 1px;}
.eggpresentrec_list li .name{width:70%;float:left;}
.eggpresentrec_list li .time{width:20%;float:right;}


/*头部*/
#content{ width:100%; float:left;}
#content .main{ margin-left:57px;width:855px;}

