body{font-size:12px;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-family: microsoft yahei}
em,p,ul,dl,dt,dd,ins,h1,h2,h3,h4,form,h1,h2,h3,h4,ins{margin:0;padding:0;font-size:12px}
ins{text-decoration:none;}
em{font-style:normal;}
ul,ol{ list-style:none;}
input,select{ vertical-align:middle;}
input,button,select,textarea{outline:none} 
textarea{resize:none}
img{border:0;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none}

.w-full{width:100%;}
.w-mall,.w,.w-shop,.w-user{margin:0 auto;}
.col-sub,.col-main{float:left;}
.col-bottom{ clear:both}
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}
.clear,.clr{clear:both; overflow:hidden;width:0;margin:0;padding:0; height:0; line-height:0; font-size:0;}
.clearboth{ clear:both;}
.hidden{ display:none}
.overflowHidden{ overflow:hidden;}
.float-left{float:left;}
.float-right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.inline-block{ display:inline-block;}
.block{ display:block}
.pointer{ cursor:pointer}

/* margin,padding */
.margin5{margin:5px;}
.margin10{margin:10px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt20{margin-top:20px;}
.pr20{margin-right:20px;}
.pb20{margin-bottom:20px;}
.pl20{margin-left:20px;}
.padding5{padding:5px;}
.padding10{padding:10px;}

/* text,color */
.fff{color:#fff;}
.f60{color:#ff6600;}
.f66{color:#666;}
.ddd{color:#ddd;}

.fs18{font-size:18px}
.fs16{font-size:16px}
.fs14{font-size:14px}
.fs12{ font-size:12px;}

.strong{font-weight:bold;}
.center{ text-align:center}

/* border */
.border{border:1px #ddd solid}
.border-t-0{border-top:0;}

@font-face {font-family: 'tm-fp-font';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.fp-iconfont{font-family:tm-fp-font!important}

/**************  global end  ***************************************************/





/************** common.css - Modified according to the situation ***************************************************/

a{color:#333;}
a:hover{color:#EE3000; text-decoration:none}

.w-mall,.w{width:1000px;}
.w-shop{}
.w-user{}

/* pageinfo */

.page { float: right; text-align:left; background:#fff;}
.page a,.page .down_no,.page .former_no,.page b{float:left;display:inline-block;width:35px; height:25px;margin-left:5px; text-align:center; line-height:25px}
.page .down_no,.page .down,.page .down:hover{width:60px;}
.page .down_no,.page .down,.page .former,.page .former_no{ background:url(../images/m_008.png) no-repeat -99999em -99999em;}
.page .former,.page .former_no,.page .page_link,.page .down,.page .down_no{border:1px #ccc solid}
.page .former:hover,.page .page_link:hover,.page .down:hover{border:1px solid #EE3000; }
.page .page_link:hover,.page .page_hover:hover{ text-decoration:underline}

.page .stat{float:left;margin-left:5px;color:#999; line-height:25px;font-size:14px}
.page b{font-weight:normal;font-size:13px;color:#404040;width:100px; text-align:right;color:#999; line-height:20px;}
.page .former { background-position: -60px -213px;}
.page .former_no { background-position: 12px -213px; }
.page .page_link{color:#333}
.page .page_hover {color: #EE3000; }
.page .page_link:hover{ background:#FFEDE1; color: #EE3000;}
.page .page_hover:visited{color:#EE3000;border:0;}
.page .down{ background-position: -176px -213px;color:#333;}
.page .down_no{ background-position: -100px -213px; color:#999;}
.page .down:hover{ background-position: -176px -213px; color:#EE3000;}

/* pageinfo top */
.page-top .down,.page-top .down_no,.page-top .former_no,.page-top .former,.page-top .down:hover,.page-top .former:hover{width:20px; height:20px; line-height:20px; background:none; font-family:"song"}
.page-top .down_no,.page-top .former_no{ background:#EAEAEA;}
.page-top .down:hover,.page-top .former:hover{background:#FFEDE1;}



/* site-nav */

#site-nav{ background: #f2f2f2;border-bottom: 1px solid #e5e5e5;line-height:22px;color: #999;}
#site-nav .shoptop{ height:22px;padding-top:2px;padding-bottom:2px; line-height:22px; position:relative; z-index:999; vertical-align:baseline}
#site-nav .login_info{float:left;line-height:22px;margin-top:2px;}
#site-nav .login_info a{padding-left: 20px;line-height: 22px;}
#site-nav .login_info a span{color:#666;}

#site-nav .quick-menu { position:absolute;top:1px; right:0;}
#site-nav .quick-menu li {float:left; margin-left:-1px;padding-top:1px;padding-bottom:0px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat right 6px; position:relative;}
#site-nav .quick-menu li.home,
#site-nav .quick-menu li.service{padding-left:10px;padding-right:10px;}
#site-nav .quick-menu li.service a{line-height:24px;}

#site-nav .menu-hd { position:relative; display:block;_display:inline-block;padding-bottom:0px;padding-left:10px;padding-right:22px;padding-top:1px; height:20px;line-height:17px; margin:3px 1px 0px; cursor:pointer; z-index:901;}
#site-nav .sites .menu-hd{width:48px;}
#site-nav .mytb .menu-hd {width: 48px}
#site-nav .favorite .menu-hd {width: 36px}

#site-nav .menu-hd b,#site-nav .mini-cart b{border-bottom: #eee 4px solid; position: absolute; border-left: #eee 4px solid; line-height: 0; width: 0px; height: 0px;font-size: 0px; border-top: #bbb 4px solid; top: 7px; right: 10px; border-right: #eee 4px solid; -webkit-transition: -webkit-transform .2s ease-in;-webkit-backface-visibility: hidden; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; transition: transform .2s ease-in}


#site-nav .menu-bd {z-index: 900; border-bottom: #bfbfbf 1px solid; position: absolute; border-left: #bfbfbf 1px solid; display: none; background: #fff; border-top: #bfbfbf 1px solid; top: 21px;_top:23px; right: 0px; border-right: #bfbfbf 1px solid}

#site-nav .menu-bd-panel {padding-bottom: 6px; padding-left: 10px; padding-right: 10px; padding-top: 10px}
#site-nav .menu {position: relative}
#site-nav .item:hover .menu-hd,
#site-nav .hover .menu-hd {border-bottom: medium none; border-left: #bfbfbf 1px solid; margin: 2px 0px 0px; background: white; border-top: #bfbfbf 1px solid; border-right: #bfbfbf 1px solid}
#site-nav .item:hover .menu-bd,
#site-nav .hover .menu-bd {display: block;}
#site-nav .item:hover .menu-hd b,
#site-nav .hover .menu-hd b,
#site-nav .item:hover .mini-cart b,
#site-nav .hover .mini-cart b{border-bottom-color: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); border-top-color: #bbb; border-right-color: #fff; border-left-color: #fff; top:6px;*top:3px; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}

#site-nav .quick-menu .mini-cart a.ac{position:relative;display:block;border: #d8d8d8 1px solid; line-height:17px;margin-top:3px;padding-left:25px;padding-right:6px;padding-top:0;width:76px; height:17px; background: #fff;}
#site-nav .item:hover .mini-cart a.ac,
#site-nav .hover .mini-cart a.ac{border-bottom:medium none; z-index:901;}
#site-nav .quick-menu .mini-cart .mini-cart-hd{ color:#3E3E3E; font-weight:bold; margin:10px 0;}
#site-nav .quick-menu .mini-cart .mini-cart-each{height:45px}
#site-nav .quick-menu .mini-cart .mini-cart-img { display: inline-block; float: left;  height: 40px;    margin-right: 10px;    overflow: hidden;text-align: center;width: 40px;}
#site-nav .quick-menu .mini-cart .mini-cart-title { float:left; line-height: 20px; width:190px; height:40px;overflow: hidden;}
#site-nav .quick-menu .mini-cart .mini-cart-bt{float:left;border-top:1px solid #F2F2F2; margin-top:10px; text-align:center}
#site-nav .quick-menu .mini-cart .mini-cart-bt a { background:url(../images/T1lxl1XcNGXXXXXXXX-113-50.png); background-color: white; background-position: 0 0;border: medium none;color: white;display: inline-block;height: 20px; line-height: 19px;padding: 0; text-align: center;width: 113px;}
#site-nav .quick-menu .mini-cart .mini-cart-bt a:hover{ color:#fff;}
#site-nav .quick-menu .mini-cart .price-admin{ float:right; text-align:right}
#site-nav .quick-menu .mini-cart .mini-cart-del a{ color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-del a:hover{ text-decoration:underline; color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-empty{margin-right:30px;color:#999}

#site-nav .mytb .menu-bd {line-height: 1.7; width:94px;height: 75px}
#site-nav .favorite .menu-bd {line-height: 1.7; width:82px;height: 57px}

#site-nav .mytb .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}
#site-nav .favorite .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}

#site-nav .quick-menu .mini-cart s{ position:absolute;width:14px; height:11px;top:2px;left:6px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat -100px -20px;}
#site-nav .quick-menu .mini-cart a:hover{color:#f50;}
#site-nav .quick-menu .mini-cart strong{color: #f50;padding:0 2px 0 2px;}
#site-nav .quick-menu .mini-cart .menu-bd {border: #d8d8d8 1px solid;padding: 10px; padding-top: 0px;width: 304px;overflow: hidden; top: 17px; left: 0px; z-index:900}

#site-nav .sites .menu-bd{width:202px;}
#site-nav .sites .menu-bd a{color:#057BD2}
#site-nav .iwantbuy .menu-bd{width:82px;}
#site-nav .seller-center .menu-hd{ width:48px;}
#site-nav .seller-center .menu-bd{ width: 94px; line-height:1.7;}
#site-nav .seller-center .menu-bd-panel{padding: 8px 10px;}

#site-nav .shoptop a{color:#999;}
#site-nav .shoptop a:hover{color:#0071cf; text-decoration:underline}






/* header */

.rc-lt{ display:block; position:absolute;left:0;top:0;width:1px;height:1px; background:#ffffff; overflow:hidden}
.rc-lb{ display:block; position:absolute;left:0;bottom:0;width:1px;height:1px; background:#ffffff; overflow:hidden}
.rc-rt{ display:block; position:absolute;right:0;top:0;width:1px;height:1px; background:#ffffff; overflow:hidden}
.rc-rb{ display:block; position:absolute;right:0;bottom:0;width:1px;height:1px; background:#ffffff; overflow:hidden}

#header .shop-t{background:#fff;position:relative;z-index:99;}
#header .logo{float:left;width: 340px;height:85px;overflow: hidden}
#header .top-search{float:left;position:relative;margin-top:27px;}
#header .top-search-tab{width:440px;position:absolute;left:0px;top:-22px;}
#header .top-search-tab li{float:left;margin-right:3px;cursor:pointer;}
#header .top-search-tab li span{display:block;width:45px;height:22px; line-height:22px;text-align:center;background: url(../images/yo_search1.png) no-repeat 0px -23px;}
#header .top-search-tab li.current span{color:#fff;background:#0071cf;color: #FFF;border-radius:5px 5px 0px 0px;}
#header .top-search-box{ height:35px;_height:auto;color:#666;}
#header .top-search-box input{ vertical-align:middle; line-height:150%;}
#header .top-search-box .keyword{height:24px;width:353px;border:0px;line-height:24px; position:absolute;left:6px; top:3px;color:#000;font-weight: 900;}
#header .top-search-box .kw_bj{background:url(../images/head_foot_bj.png) no-repeat 3px -232px;}
#header .top-search-box .index_bj{background-position:3px -229px;}
#header .top-search-box .groupbuy_bj{background-position:3px -209px;}
#header .top-search-box .store_bj{background-position:3px -190px;}

#header .top-search-box .submit{width:102px; height:35px;position:absolute;border:0;right:-2px;top:-2px; cursor:pointer;font-size:15px;color:#fff; background:#0071cf;line-height:35px;font-family: microsoft yahei;}
#header .top-search-box .form-fields{position:relative;width:444px;height:31px;border:3px #0071cf solid;overflow:hidden;}
#header .top-search-box .search-cat{ display:block; background:url(../images/header_sprites.png) 0 -97px; width:70px; padding-left:77px; line-height:36px; height:36px;color:#333; }
#header .top-search-box .search-cat a:hover{color:#990000;}

#header .top-search-keywords{margin-top:10px;padding-left:5px;color: #999}
#header .top-search-keywords a{color:#999;padding: 0 12px;}
#header .top-search-keywords a:hover{text-decoration:underline;}


#header .header_cart{position:absolute;right:0px;top:29px;width:126px;height:30px;border: 1px solid #EFEFEF;background:#F7F7F7;}
#header .header_cart .title{width:100%;}
#header .header_cart .title a,#header .header_cart .title b,#header .header_cart .title em{display:block;line-height:30px;height:30px;float:left;}
#header .header_cart .title b{width:30px;background:url(../images/new_index_pic.png) no-repeat -475px -205px;}
#header .header_cart .title a{height:30px;}
#header .header_cart .title em{top: 9px;right: 4px;width: 0px;height: 0px;border-style: dashed dashed dashed solid;border-width: 5px;border-color: transparent transparent transparent #CCCCCC;overflow: hidden;line-height: 0px;position: absolute;}
#header .header_cart .shoping{position: absolute;top: -13px;left: 20px;background-image: url(../images/new_index_pic.png);background-position: -456px -381px;padding-left: 6px;color: #fff;}
#header .header_cart .shoping .count-cart{float: left;display: block;height: 20px;padding-right: 6px;background-image: url(../images/new_index_pic.png);background-position: 100% -335px;}
#header .header_cart .cart-list{border: 1px solid #ddd;background: #fff;position: absolute;top: 30px;right:-1px;width: 350px;display:none;z-index:2;}
#header .header_cart .cart-list .nogoods{padding:15px 30px;width:320px;height: 49px;line-height: 49px;overflow: hidden;color: #999;}
#header .header_cart .cart-list .nogoods b{float: left;width: 56px;height: 49px;background-position: -444px -140px;background-image: url(../images/new_index_pic.png);}
#header .header_cart .cart-list .goods-list h4{height: 25px;padding: 6px 8px;background-position: 0 -118px;background-repeat: repeat-x;border-bottom:1px solid #EEE;line-height: 25px;}
#header .header_cart .cart-list .goods-list .list{padding:10px;width:330px;line-height:18px;border-bottom: 1px dashed #ddd;}
#header .header_cart .cart-list .goods-list .list .goods-img{width:40px;float:left;margin-right:10px;}
#header .header_cart .cart-list .goods-list .list .goods-title{width:200px;float:left;}
#header .header_cart .cart-list .goods-list .list .goods-admin{float:right;}
#header .header_cart .cart-list .goods-list .list .goods-admin strong{color:#c00;font-size:12px;}
#header .header_cart .cart-list .total{padding:10px;background: #F5F5F5;text-align: right;}
#header .header_cart .cart-list .total span{margin-left:10px;}
#header .header_cart .cart-list .total span b{color:#C00;margin:0px 3px;}
#header .header_cart .cart-list .total span strong{color:#C00;font-size: 18px;font-family: Arial,Tahoma, Geneva, sans-serif;margin:0px 3px;vertical-align:middle}
#header .header_cart .cart-list .total a{display: inline-block;width: 120px;height: 30px;margin-top: 6px;background: #E4393C;color: #fff;text-align: center;font-weight: bold;line-height: 30px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
#header .active{border: 1px solid #ddd;background:#fff;border-bottom:0px;}
#header .active .shadow{position:absolute;top:26px;right:0px;background:#fff;height:6px;width:126px;z-index:15;}
#header .active .title b{background:url(../images/new_index_pic.png) no-repeat -475px -240px;}
#header .active,#header .active .cart-list{webkit-box-shadow: 0 0 10px #DDD;box-shadow: 0 0 10px #DDD;display:block;}





/* mall-nav */
.mall-nav{height:34px;border-bottom: 4px solid #0071cf;overflow: hidden;}
.mall-nav ul .each{ position:relative;}
.mall-nav ul .each a{display:inline-block;width:98px;text-align:center;height:34px;line-height:34px;font-size: 14px;font-weight: bold;color: #000;}
.mall-nav ul .each a.current,.mall-nav ul .each a:hover{color: #0071cf}


/* header and home widget allcategory-list  */

.allcategory{position:relative; z-index:100;}
.allcategory .allsort{float:left;width:200px;height: 34px;line-height: 34px;font-weight: bold;font-size:14px;color:#fff;display:block;text-align:center;background: #0071cf;margin-right:1px;}
.allcategory .allsort:hover{background: #0071cf;color:#fff;}

