@charset "utf-8";
/* CSS Document */

/* 详情页 */
.detail_img{ margin-top:10px; background:#fff; position:relative;}
.detail_img .slider .sliderlist { width:100%; padding:10px 0; }
.detail_img .slider .sliderlist li{ width:100%; float:left; margin-right:5px; border-radius:5px;}
.detail_img .slider .sliderlist li img{ width:100% ; height:auto;}
.detail_img .fav{ position:absolute; right:10px; bottom:30px; background:#000; opacity:0.6; padding:5px 15px;border-radius:50px;}
.detail_img .fav a{color:#fff; display:block; font-size:16px;}
.detail_img .fav a span{ display:block; float:left;}
.detail_img .fav a img{ width:25px; margin-right:5px; float:left;}
.detail_img .line{ background:url(../images/pp_1.png) repeat-x; height:10px;}
.detail_tit{ padding:10px;background: #fff;}
.detail_tit p{ font-size:14px; color:#333; line-height:30px;height:30px;border-bottom: #f3f3f3 solid 1px;width: 100%;overflow: hidden;}
.detail_tit strong{ color:#b20005;}
.detail_tit span{ margin-right:20px;}

.detail_size{ background:#ddd; padding:10px 5px;}
.size_con{ background:#fff; padding:10px;border-radius:5px 5px 0 0;}
.buynow{ border-top:#ddd solid 1px; background:#fff;padding:10px 0;border-radius:0 0 5px 5px; text-align:center; position:relative;position:fixed;bottom:0px;width: 100%;}
.buynow a{display: inline-block;border-radius: 3px;color: #fff;height: 30px;font-size: 13px;line-height: 30px;text-align: center;}
.buynow a.buy{background-image: linear-gradient(to bottom,#fba949,#fba239);background-color: #fba949;width: 100px;}
.buynow a.add{background-image: linear-gradient(to bottom,#fd6161,#fd5b5b);background-color: #fd6161;width: 120px;margin-left:10px;}

.buynow a.cart-num{background-image: linear-gradient(to bottom,#fd6161,#fd5b5b);width:50px;margin-left:10px;border: 1px solid #e5e5e5;}

.buynow .msg{text-align:left; overflow:hidden;  right:20px; bottom:0; display:block; border-top:#ccc solid 1px; margin:10px 0 0; padding:10px 0 0;}
.buynow .msg p{  font-size:16px;  }
.buynow .msg p b{ background:url(../images/addcar.png) no-repeat; height:30px; width:30px; display:inline-block; vertical-align:-10px;  margin:0 10px;}
.buynow .msg .white_btn{ padding:10px 8px; margin-top:10px; color:#333; text-align:center;}

.detail_con{ background:#fff; overflow:hidden;}
.detail_con .tab{ border-bottom:#eee solid 1px; overflow:hidden; cursor:pointer;}
.detail_con .tab li{ background:#f3f3f3; width:50%; padding:10px 0; float:left; text-align:center; border-top:#f3f3f3 solid 3px; font-size:14px;}
.detail_con .tab li.cur{ border-top:#b10000 solid 3px; background:#fff;}
.detail_con .tab_con{ padding:10px;}
.detail_con .tab_con img{ width:100%; height:auto;}

.comments_list{ padding-bottom:20px;}
.comments_list li{ border-bottom:#dedede solid 1px; overflow:hidden; padding:10px 0;}
.comments_list li a{ display:block; width:25%;float:left;border-radius:50%; margin-right:5%; padding:1%;box-shadow:rgba(0,0,0,0.3) 0 0 4px;}
.comments_list li .user_photo{  border-radius:50%;}
.comments_list li p{ float:right; display:block; width:100%; color:#666; font-size:14px;}
.comments_list li p.con{ color:#333;}
.comments_list li span{ margin:5px 20px 0 0; display:inline-block;}

/* 尺码 */
.handle ul{ overflow:hidden;}
.handle li{ float:left;padding:5px 15px; margin:10px 10px 10px 0; display:inline-block; cursor:pointer; font-size:14px;}
.handle .handle_title{ float:none; margin:0; padding:0; display:block;}
.handle .quantity .handle_title,.handle .selected .handle_title{float:left;padding:5px 0; margin:10px 0;}
.handle .quantity .text{ width:30px; padding:5px; text-align:center; border:#ddd solid 1px;}
.handle .selected .aggregate{ color:#b20005; font-weight:bold;}
.handle li.dotted{
background:#fefefe;
background:linear-gradient(to bottom,#fefefe,#f5f5f5);
background: -moz-linear-gradient(top, #fefefe,#f5f5f5);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f5f5f5));
border:#ddd solid 1px;border-radius:3px; color:#333;
}
.handle li.dotted:active{
background:linear-gradient(to bottom,#f5f5f5,#fefefe);
background: -moz-linear-gradient(top, #f5f5f5,#fefefe);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fefefe));
border:#ddd solid 1px;border-radius:3px; color:#333;
}
.handle li.solid{
background:#b00005;
background:linear-gradient(to bottom,#b00005,#9f0207);
background: -moz-linear-gradient(top, #b00005,#9f0207);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#b00005), to(#9f0207));
border:#8d0303 solid 1px;border-radius:3px;
color:#fff;
}
.handle li.solid a{color: #fff;}


.promo-price-type{border:1px solid #E3C8BD; color:#B68571;padding:2px 3px 2px 3px; border-radius:2px; font-style:normal}
.promo-price{color:#BB000D; font-size:24px; font-family:Arial,Helvetica,sans-serif; vertical-align:middle; font-weight:700;padding-left:5px;}
.price-del{font-size:15px}
.price-normal{font-family:Arial;color:#FF543A;font-size:16px;font-weight:bold}
sub.two{padding-left:12px; padding-right:12px;}
.countdown {color:#666}
.countdown em{ font-style:normal}
.countdown .lefttime{background:url(../images/T1naqRXdxoXXcu5FDa-17-17.png) left -1px no-repeat;padding-left:20px;margin-left:65px;}

