@charset "utf-8";
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
body{
	color: #525252;
	background-color: #fff;
	min-width:320px;
	font-size:14px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei";
}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #333;text-decoration:none;}
.auto{
	background-color: #eaeaea;
	max-width: 640px;
	min-width:320px;
	margin: 0 auto;
}
/* 头部 */
.header{ height:40px; position:fixed; left:0; top:0; width:100%; z-index:9999; background:#42352D; box-shadow:rgba(0,0,0,0.3) 1px 1px 3px;}
.header .logo{ height:45px; float:left; width:130px;}
.header .logo img{ height:40px;}
.header .searchBar{ float:left; position:relative; height:40px; }
.header .search_text{ float:left;height:30px; margin:5px 3%; border:none; width:94%; padding:0 0 0 10px;border-radius:50px; color:#666;}
.header .search_btn{ -webkit-appearance: none; border:none; height:40px; width:40px; position:absolute; right:3%; bottom:5px; height:30px; cursor:pointer;  background:url(../images/search_btn.png) no-repeat 0 0; background-size:30px;}

/* 二级菜单 */
.sub_menu_bg{ background:#1d1f22; overflow:hidden; width:100%;height:100%; position:fixed; top:40px; left:0;z-index:999; display:none;}
.sub_menu{overflow-y:scroll; overflow-x:hidden; width:100%;height:100%;}
.sub_menu .shrink{padding:10px 15px 10px 20px;color:#D2D2D2; cursor:pointer; text-shadow: 0 2px 0 #000; font-weight:bold; font-size:14px;border-bottom:#141719 solid 1px;}
.sub_menu .shrink img{ width:20px; height:20px; float:right;}
.sub_menu ul li h2{ display:block; list-style:circle; cursor:pointer;  margin:0;color:#D2D2D2; text-shadow: 0 2px 0 #000; font-weight:bold; font-size:14px; padding:10px 20px; display:block; text-align:left;}
.sub_menu li{ border-top:#25272a solid 1px; border-bottom:#141719 solid 1px; }
.sub_menu li:active,.sub_menu li:hover{ background:#212326;}
.sub_menu h2 b{ border:#565d64 solid 2px; border-right:none; border-top:none; display:block; height:5px; width:5px; margin:5px; float:right;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);	
}
.sub_menu .fun{padding:10px 20px 45px 15px; overflow:hidden;   text-shadow: none;}
.sub_menu .fun a{color:#000; display:block; float:left; background:url(../images/arr.png) no-repeat 99% 15px #fff; background-size:13px;  font-size:16px;vertical-align:middle; width:100%; height:40px; line-height:40px; text-align:left; margin-bottom:5px;}
.sub_menu .fun .code{ float:left;}
.sub_menu .fun .fav{ float:right;}
.sub_menu .fun .funm img{ width:30px; height:30px; margin:0 10px 5px; vertical-align:middle;}
.sub_menu_list{ display:none; background:#1d1d1d;}
.sub_menu_list a{ font-weight:normal;display:block;  margin:0;color:#efefef;  font-size:16px; padding:10px; display:block; text-align:left; border-bottom:#0a0b0c solid 1px; border-top:#25272a solid 1px;}
.sub_menu_list a:last-child{ border-bottom:none;}
.sub_menu_list a:first-child{ border-top:#0a0b0c solid 1px;}
.sub_menu_list li{ border:none; margin-left:20px; font-weight:normal; font-size:14px; color:#878787;  text-shadow: 0 2px 0 #000; font-weight: 900;font-size: 12px;}
.sub_menu_list li:hover,.sub_menu_list li:active{ background:none;}
.sub_menu_list b{ border:#565d64 solid 2px; border-left:none; border-top:none; display:block; height:5px; width:5px; margin:5px 35px 0 10px; float:left;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);	
}
/* 店铺信息 */
.shop_info{ background:#333;display:block;}
.shop_info .shop_code{ width:170px; height:170px; margin:0 auto;}
.shop_info .shop_name{scolor:#fff; padding:0 0 5px 0; font-size:18px;}
.shop_info .shop_detail{ overflow:hidden; width:140px;}
.shop_info .shop_detail span{ color:#fff; display:block;  float:left; font-size:14px; line-height:28px;}
.shop_info .shop_detail span strong{ color:#c00; font-size:16px;}
.shop_info .back{ background:#fff; border:#ccc solid 3px; display:block; width:132px; float:left; padding:5px; text-align:center; margin-top:10px;}
.fav_msg{display:none;position:fixed;  top:25%; left:25%; background:rgba(0,0,0,0.2); overflow:hidden; color:#fff; padding:3%;border-radius:10px; font-size:18px; height:39px; line-height:39px; text-align:center; z-index:12345;}
.fav_msg img{ margin-right:5px; vertical-align:middle;}
/*banner*/
.banner{margin: 40px auto 0; position:relative; background:#fff; width:100%; overflow:hidden;}
#z_slider .flex-control-nav{height:28px; text-align:right;}
#z_slider .flex-control-paging li a{background-color: #463b35; color:#fff; text-align:center; font-size:12px; border:#463b35 solid 1px;}
#z_slider .flex-control-nav li{ margin:5px 2px;}
#z_slider .flex-control-paging li a.flex-active{ background-color:#fff; color:#463b35;}
#z_slider .flex-control-paging li a{border-radius:0; }
/* 花边 */
.huabian{ background:url(../images/huabian.png) repeat-x; height:30px;}
.huabian1{ background:url(../images/huabian1.png) repeat-x; height:30px;}
/* 分类 */
.sort{ background:#fff; overflow:hidden; padding-bottom:10px; }
.sort a{ float:left; width:25%; display:block; text-align:center;}
.sort li{overflow:hidden;}
.sort li .imgbox{width:70px; height:70px;border-radius:50px; background:#eee; margin:10px auto; border:#463B35 solid 3px;}
.sort li img{ width:70px;height:70px;border-radius:50px;}
.sort li span{ text-align:center;width:73px; margin:0 auto; display:block;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
/* 列表 */
.lists{ overflow:hidden;  border-top:#eee solid 1px; padding-bottom:1%;}
.lists h2{ padding:2% 4%; color:#f0f0f0; background:url(../images/tit_bar.png) no-repeat; background-size:100% 100%;}
.lists h2 a{ float:right; color:#f0f0f0;}
.lists ul{ padding:0 1% 0 0;}
.lists .goods{ width:49%; display:block; float:left; padding:1% 0 0 1%;}
.lists li{ float:left;  float:left; background:#fff; width:100%; }
.lists li .g_box{background:url(../images/goods_bian.png) no-repeat; background-size:100%;}
.lists li img{width:92%; padding:3%;}
.lists p{ text-align:left; width:90%; padding:5% 5% 0; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; background:fff; color:#333;}
.lists span{ display:inline-block; text-align:left; color:#fff; font-weight:bold; font-size:12px;padding:5px; background:url(../images/price_bg.png) no-repeat; background-size:100% 25px;}
.lists i{ float:right; text-decoration:line-through; font-style:normal; font-size:12px;color:#4E4139;padding:5px; display:inline-block;}
/* 底部 */
.footer{color:#4E4139; width:100%; text-align:center; padding:10px 0; background:#f9f9f9; position:relative;}
.footer p{ margin:2px 0; font-size:12px;}
.footer p a{ margin:0 5px; font-size:12px; color:#4E4139;}
.footer .top{ position:absolute; right:0; bottom:35px; width:50px; height:27px; }
.footer .top img{ width:100%;}




/* 团购 */.tuan-title{padding:2% 4%; color:#f0f0f0; background:url(../images/tit_bar.png) no-repeat; background-size:100% 100%;}
.tuan_box{ overflow:hidden; padding:10px; background:#eee; position:relative;}
.tuan_list{  overflow:hidden; text-align:center; position:relative; width:100%;}
.tuan_list li a{display:inline-block;  width:200px; padding-bottom:5px; border:#eee solid 1px;}
.tuan_list li .con{ padding:10px;box-shadow:rgba(0,0,0,0.3) 1px 1px 2px; font-size:12px; background:#fff;}
.tuan_list li .con span{ display:block; margin:5px 0;}
.tuan_list li .con .tuan_price strong{ color:#b20005;}
.tuan_list li img{ width:100%;}
.tuan_list li .con .s_time img{ width:20px; height:20px; vertical-align:bottom;}
.tuan_imgbox{ position:relative;}
.tuan_imgbox p{overflow:hidden;  text-overflow: ellipsis;    white-space: nowrap; position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.7); color:#fff; padding:3px 0; text-align:center;}
.tuan_box .prenext{ width:17px; height:43px; background:url(../images/nextpre.png) no-repeat 0 7px; display:block; position:absolute; top:118px; background-size:35px;}
.tuan_box .pre{ left:20px;}
.tuan_box .next{ background-position:-18px 7px; right:20px;}

.red_btn{
background:#42352D;
background:linear-gradient(to bottom,#42352D,#392C24);
background: -moz-linear-gradient(top, #42352D,#392C24);
background: -ms-gradient(top, #42352D,#392C24);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#42352D), to(#392C24));
border:#2E2119 solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#42352D;
background:linear-gradient(to bottom,#392C24,#42352D);
background: -ms-gradient(top, #392C24,#42352D);
background: -moz-linear-gradient(top,#392C24,#42352D);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#392C24), to(#42352D));
border:#2E2119 solid 1px;border-radius:3px;
color:#fff;
}
