{include file="header.html"}
<style type="text/css">
.aboutus_content { padding:20px; border-top:1px solid #B0D3EE; }
.about_item { margin-bottom:20px; }
.about_item .item_title { font-size:16px; font-weight:bold; padding:5px 0px 5px 5px; color:#0099FF; border-bottom:1px solid #B0D3EE; margin-bottom:10px; }
.about_item .item_text { text-indent:2em; }
.about_item .item_list { list-style:none; }
.about_item .item_list li { padding:8px; border-bottom:#e7e7e7 1px dotted; }
.about_item .item_list .item_list_title { display:block; float:left; width:120px; font-weight:bold; color:#333; }
.about_item .item_list .item_list_items a {  }
.item_list .subtitle { padding:5px 0px; color:#333; }
.item_list .subtitle span {  font-weight:normal; }
.item_list .subcontent { padding:5px 0px; }
</style>

<div class="aboutus_content">
    <div class="about_item">
        <h3 class="item_title">{$lang.our_logos}</h3>
        <ul class="item_list">
            <li>
                <div class="item_text">
                    {$lang.logos_detail}
                </div>
            </li>
        </ul>
    </div>
    <div class="about_item">
        <h3 class="item_title">{$lang.statement}</h3>
        <ul class="item_list">
           
        </ul>
    </div>
</div>
{include file="footer.html"}
