{include file="header.html"}
<div id="rightTop">
  <ul class="subnav">
    <li><span>等级管理</span></li>
    <li><a class="btn1" href="index.php?app=ugrade&amp;act=add">新增等级</a></li>
    <li><a class="btn1" href="index.php?app=ugrade&amp;act= growth_value">成长值</a></li>
  </ul>
</div>
<div class="mrightTop">
  <div class="fontl">
    <form method="get">
      <div class="left">
          <input type="hidden" name="app" value="ugrade" />
          <input type="hidden" name="act" value="index" />
          {$lang.grade_name}:
          <input class="queryInput" type="text" name="grade_name" value="{$smarty.get.grade_name|escape}" />
          <input type="submit" class="formbtn" value="{$lang.query}" />
      </div>
      <!--{if $filtered}-->
      <a class="left formbtn1" href="index.php?app=ugrade">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $ugrades}-->
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td>{$lang.grade_name}</td>
      <td style="width:250px;text-align:center;">{$lang.grade}</td>
      <td style="width:250px;text-align:center;">{$lang.growth_needed}</td>
      <td style="width:250px;text-align:center;">{$lang.add_time}</td>
      <td class="handler" style="width: 250px;text-align:center;">{$lang.handler}</td>
    </tr>
    <!--{/if}-->
    <!--{foreach from=$ugrades item=ugrade}-->
    <tr class="tatr2">
      <td class="firstCell"><!--{if $ugrade.grade_id neq 1}--><input  disabled="disabled" type="checkbox" class="checkitem" value="{$ugrade.grade_id}" /><input style="display:none;" type="checkbox" class="checkitem" value="{$ugrade.grade_id}" /><!--{/if}--></td>
      <td>{$ugrade.grade_name|escape}</td>
      <td style="width:250px;text-align:center;">{$ugrade.grade|escape}</td>
      <td style="width:250px;text-align:center;">{$ugrade.growth_needed|escape}</td>
      <td style="width:250px;text-align:center;">{$ugrade.add_time|date:complete}</td>
      <td class="handler" style="width: 250px;">
      <span style="width: 250px;text-align:center;">
      <a href="index.php?app=ugrade&amp;act=edit&amp;id={$ugrade.grade_id}">{$lang.edit}</a>
      </span>
      </td>
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
  </table>
  <!--{if $ugrade}-->
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
      <input class="formbtn batchButton" type="button" value="{$lang.drop_all}" name="id" uri="index.php?app=ugrade&act=drop" presubmit="confirm('删除全部的会员等级会使会员的积分清零，你确定要删除吗？');" />
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
  </div>
  <div class="clear"></div>
  <!--{/if}-->
</div>
{include file="footer.html"} 