@charset "utf-8";
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
body{
	color: #525252;
	background-color: #fff;
	min-width:320px;
	width:100%;
	font-size:14px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei";
	overflow-x:hidden;
}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #333;text-decoration:none;}

p{margin: 0 0 10px 0;}
pre{font-size: 12px;width: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
#page nav{display: none;}

#header{background: #C17038;font-size: 16px;font-weight: bold;color: #fff;text-align: center;line-height: 40px;height: 40px;padding: 0 0 0 10%;  width:90%;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); position:relative; z-index:999;}
/*#header a{display: block;width: 40px;height: 40px;position: absolute;top: 0;left: 10px;}*/
#header a{width: 40px;height: 40px;position: absolute;top: 0;left: 10px;}
#header a.user{left: auto;right: 10px;}
#header a.logo{ width:auto; height:40px; position:relative; }
#header a.logo img{ width:auto; height:30px; margin-top:5px; margin-left:-100px}
#header a.car{left: auto;right: 50px;}
#header a img{ width:25px; height:25px; margin-top:7.5px;}

/* 轮播 */
.banner{ position:relative; background:#fff; width:100%; overflow:hidden;border-bottom: 3px solid #FFF;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
#z_slider .flex-control-nav{ background:rgba(0,0,0,0.6); height:20px; line-height:20px; text-align:right;}
#z_slider .flex-control-paging li a{background-color: #fff; font-size:0; border-radius:0;}
#z_slider .flex-control-nav li{ margin:5px 6px;}
#z_slider .flex-control-paging li a.flex-active{ background-color:#C17038; border:#fff solid 1px;}

/* 分类 */
.sort{ background:#eee; overflow:hidden; padding:5px 0; width:100%;}
.sort a{ float:left; width:50%; display:block; text-align:center;}
.sort li{overflow:hidden;box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); margin:2px; background:#fff;}
.sort li .imgbox{width:50px; height:50px; float:left;}
.sort li img{width:50px; height:50px;}
.sort li span{color: #C17038; text-align:center; padding-right:50px;display:block;text-overflow:ellipsis;white-space:nowrap; overflow:hidden; line-height:50px;}
/* 列表 */
.lists{ overflow:hidden; padding-bottom:1%;}
.lists h2{ padding:10px 2%; color:#666; background:#C17038; color:#fff;}
.lists h2 a{ float:right; color:#fff;}
.lists li{ float:left; padding:3%; width:40%; margin:2% 2% 0; float:left; background:#fff;	}
.lists li img{width:100%; border-bottom:#C17038 solid 2px;}
.lists p{ text-align:left; max-height:38px;line-height:19px;height:38px; overflow:hidden; padding:5px 0 0;margin-bottom: 5px;}
.lists span{ display:block; text-align:left; color:#b20005; font-weight:bold; font-size:16px;}

/* 底部 */
.footer{ width:100%; text-align:center; padding:10px 0;  background:#C17038; position:relative;overflow:hidden;}
.footer p{ margin:2px 0; font-size:12px; color:#fff;}
.footer p a{ margin:0 5px; font-size:12px;color:#fff;}
.footer .top{ position:absolute; right:10px; bottom:10px; width:40px; height:40px; background:#fff; color:#C17038; border-radius:50px; line-height:40px; font-weight:bold;}



/* 团购 */.tuan-title{padding:10px 2%; color:#666; background:#C17038; color:#fff;}
.tuan_box{ overflow:hidden; padding:10px; background:#eee; position:relative;}
.tuan_list{  overflow:hidden; text-align:center; position:relative; width:100%;}
.tuan_list li a{display:inline-block;  width:200px; padding-bottom:5px; border:#eee solid 1px;}
.tuan_list li .con{ padding:10px;box-shadow:rgba(0,0,0,0.3) 1px 1px 2px; font-size:12px; background:#fff;}
.tuan_list li .con span{ display:block; margin:5px 0;}
.tuan_list li .con .tuan_price strong{ color:#b20005;}
.tuan_list li img{ width:100%;}
.tuan_list li .con .s_time img{ width:20px; height:20px; vertical-align:bottom;}
.tuan_imgbox{ position:relative;}
.tuan_imgbox p{overflow:hidden;  text-overflow: ellipsis;    white-space: nowrap; position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.7); color:#fff; padding:3px 0; text-align:center;}
.tuan_box .prenext{ width:17px; height:43px; background:url(../images/nextpre.png) no-repeat 0 7px; display:block; position:absolute; top:118px; background-size:35px;}
.tuan_box .pre{ left:20px;}
.tuan_box .next{ background-position:-18px 7px; right:20px;}


.red_btn{
background:#C17038;
background:linear-gradient(to bottom,#C17038,#C17038);
background: -moz-linear-gradient(top, #C17038,#C17038);
background: -ms-gradient(top, #C17038,#C17038);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#C17038), to(#C17038));
border:#C17038 solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#C17038;
background:linear-gradient(to bottom,#C17038,#C17038);
background: -ms-gradient(top, #C17038,#C17038);
background: -moz-linear-gradient(top,#C17038,#C17038);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#C17038), to(#C17038));
border:#C17038 solid 1px;border-radius:3px;
color:#fff;
}