@charset "utf-8";
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
body{
	color: #525252;
	background-color: #EDEDED;
	min-width:320px;
	font-size:14px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei";
}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #525252;text-decoration:none;}
.auto{
	background-color: #eaeaea;
	max-width: 640px;
	min-width:320px;
	margin: 0 auto;
}
/* 头部 */

.header{ height:40px; position:fixed; left:0; top:0; width:100%; z-index:9999; background:#fff; box-shadow:rgba(0,0,0,0.3) 1px 1px 3px;}
.header .nav{ text-align:center;}
.header .nav li{ float:right;text-align:center; height:40px;}
.header .nav .menu li{ float:left; margin-left:10px;}
.header .nav li span{ width:100%; display:block; margin-top:5px; margin-right:5px;}
.header .nav li span img{ width:30px;}
.searchBar{ width:100%; position:fixed; top:40px; left:0; height:30px; display:none; background:#F93F51; padding:10px 0; z-index:999;}
.searchBar .search_text{ border:none; text-indent:20px; background:#fff;width:78%; margin-left:2%; padding:7px 0; float:left; border-radius:50px;}
.searchBar .search_btn{-webkit-appearance: none;  background:url(../images/search_btn_wt.png) no-repeat center; width:19%;height:30px; border:none; background-size:30px; cursor:pointer; border:none;}
/* 二级菜单 */
.sub_menu_bg{ background:#1d1f22; overflow:hidden; width:270px;height:100%; position:fixed; top:0; left:-275px;z-index:99999;  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.3);}
.sub_menu{overflow-y:scroll; overflow-x:hidden; width:290px;height:100%;}
.sub_menu .shrink{padding:10px 15px 10px 20px;color:#D2D2D2; cursor:pointer; text-shadow: 0 2px 0 #000; font-weight:bold; font-size:14px;border-bottom:#141719 solid 1px;}
.sub_menu .shrink img{ width:20px; height:20px; float:right;}
.sub_menu ul li h2{ display:block; list-style:circle; cursor:pointer;  margin:0;color:#D2D2D2; text-shadow: 0 2px 0 #000; font-weight:bold; font-size:14px; padding:10px 20px; display:block; text-align:left;}
.sub_menu li{ border-top:#25272a solid 1px; border-bottom:#141719 solid 1px; }
.sub_menu li:active,.sub_menu li:hover{ background:#212326;}
.sub_menu h2 b{ border:#565d64 solid 2px; border-right:none; border-top:none; display:block; height:5px; width:5px; margin:5px; float:right;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);	
}
.sub_menu .fun{padding: 10px 20px 10px 15px; overflow:hidden;   text-shadow: none;}
.sub_menu .fun a{color:#000; display:block; float:left; background:url(../images/arr.png) no-repeat 99% 15px #fff; background-size:13px;  font-size:16px;vertical-align:middle; width:100%; height:40px; line-height:40px; text-align:left; margin-bottom:5px;}
.sub_menu .fun .code{ float:left;}
.sub_menu .fun .fav{ float:right;}
.sub_menu .fun .funm img{ width:30px; height:30px; margin:0 10px 5px; vertical-align:middle;}
.sub_menu_list{ display:none; background:#1d1d1d;}
.sub_menu_list a{ font-weight:normal;display:block;  margin:0;color:#efefef;  font-size:16px; padding:10px; display:block; text-align:left; border-bottom:#0a0b0c solid 1px; border-top:#25272a solid 1px;}
.sub_menu_list a:last-child{ border-bottom:none;}
.sub_menu_list a:first-child{ border-top:#0a0b0c solid 1px;}
.sub_menu_list li{ border:none; margin-left:20px; font-weight:normal; font-size:14px; color:#878787;  text-shadow: 0 2px 0 #000; font-weight: 900;font-size: 12px;}
.sub_menu_list li:hover,.sub_menu_list li:active{ background:none;}
.sub_menu_list b{ border:#565d64 solid 2px; border-left:none; border-top:none; display:block; height:5px; width:5px; margin:5px 35px 0 10px; float:left;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);	
}
/* 店铺信息 */
.shop_info{ background:#333;display:block;}
.shop_info .shop_code{ width:170px; height:170px; margin:0 auto;}
.shop_info .shop_name{scolor:#fff; padding:0 0 5px 0; font-size:18px;}
.shop_info .shop_detail{ overflow:hidden; width:140px;}
.shop_info .shop_detail span{ color:#fff; display:block;  float:left; font-size:14px; line-height:28px;}
.shop_info .shop_detail span strong{ color:#c00; font-size:16px;}
.shop_info .back{ background:#fff; border:#ccc solid 3px; display:block; width:132px; float:left; padding:5px; text-align:center; margin-top:10px;}
.fav_msg{display:none;position:fixed;  top:25%; left:25%; background:rgba(0,0,0,0.2); overflow:hidden; color:#fff; padding:3%;border-radius:10px; font-size:18px; height:39px; line-height:39px; text-align:center; z-index:12345;}
.fav_msg img{ margin-right:5px; vertical-align:middle;}
/*banner*/
.banner .slider{margin: 50px 10px 0; position:relative; background:#fff;overflow:hidden; border:#ccc solid 1px; padding:3px;}
.banner .flex-control-paging li a{background:#fff; width:12px; height:12px;}
.banner .flex-control-paging li a.flex-active,.banner .flex-control-paging li a:hover{background:#f93f51;}
.banner .flex-control-nav{ height:12px; line-height:12px; bottom:10px;}

/* 分类 */
.sort{ background:#eee; overflow:hidden; background:#fff; margin:10px; padding-top:10px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);}
.sort a{ float:left; width:33%;display:block;}
.sort a:nth-child(3n){ width:34%;}
.sort li .imgbox{width:80px; height:80px; text-align:center; margin:0 auto; }
.sort li img{width:80px; height:80px; border-radius:50px;}
.sort li span{ text-align:center; width:100%;display:block;text-overflow:ellipsis;white-space:nowrap; overflow:hidden; padding:10px 0;}
/* 列表 */
.lists{ overflow:hidden; padding-bottom:5px;}
.lists h2{ padding:10px;color:#fff; overflow:hidden; background:#F93F51; border-bottom:#ddd solid 1px;border-top:#ddd solid 1px; margin-bottom:5px;}
.lists h2 span{border-left:#fff solid 5px;color:#fff; padding-left:15px; display:block; float:left;}
.lists h2 a{ float:right; color:#fff;}
.lists h2 a img{ width:16px; height:16px; vertical-align:middle; margin-left:5px;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.lists ul a{ width:50%; display:block; float:left;}
.lists li{ float:left; padding:3%; border-radius:5px;width:94%; float:left; background:#fff;box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);}
.lists li img{width:100%;border-bottom: 2px solid #F93F51;}
.lists p{ text-align:left; height:38px; overflow:hidden; padding:5px 0 0; line-height:19px; font-size:12px;}
.lists span{ display:block; text-align:left; color:#f93f51; font-weight:bold; font-size:14px;}
.lists span i{ float:right; text-decoration:line-through; color:#999; font-weight:normal; font-style:normal; margin-right:5px;}
/* 底部 */
.footer{ width:100%; text-align:center; padding:10px 0; background:#f9f9f9; position:relative; }
.footer p{ margin:5px 0; font-size:12px;}
.footer p a{ margin:0 5px; font-size:12px;}
.footer .top{ position:absolute; right:2%; bottom:10px; width:40px; height:40px; background:#f5f5f5; }
.footer .top img{ width:100%;}



/* 团购 */.tuan-title{padding:10px;color:#fff; overflow:hidden; background:#F93F51; border-bottom:#ddd solid 1px;border-top:#ddd solid 1px; margin-bottom:5px; }
.tuan_box{ overflow:hidden; padding:10px; background:#eee; position:relative;}
.tuan_list{  overflow:hidden; text-align:center; position:relative; width:100%;}
.tuan_list li a{display:inline-block;  width:200px; padding-bottom:5px; border:#eee solid 1px;}
.tuan_list li .con{ padding:10px;box-shadow:rgba(0,0,0,0.3) 1px 1px 2px; font-size:12px; background:#fff;}
.tuan_list li .con span{ display:block; margin:5px 0;}
.tuan_list li .con .tuan_price strong{ color:#b20005;}
.tuan_list li img{ width:100%;}
.tuan_list li .con .s_time img{ width:20px; height:20px; vertical-align:bottom;}
.tuan_imgbox{ position:relative;}
.tuan_imgbox p{overflow:hidden;  text-overflow: ellipsis;    white-space: nowrap; position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.7); color:#fff; padding:3px 0; text-align:center;}
.tuan_box .prenext{ width:17px; height:43px; background:url(../images/nextpre.png) no-repeat 0 7px; display:block; position:absolute; top:118px; background-size:35px;}
.tuan_box .pre{ left:20px;}
.tuan_box .next{ background-position:-18px 7px; right:20px;}


.red_btn{
background:#272C40;
background:linear-gradient(to bottom,#F93F51,#E62C3E);
background: -moz-linear-gradient(top, #F93F51,#E62C3E);
background: -ms-gradient(top, #F93F51,#E62C3E);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#F93F51), to(#E62C3E));
border:#E02638 solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#272C40;
background:linear-gradient(to bottom,#E62C3E,#F93F51);
background: -ms-gradient(top, #E62C3E,#F93F51);
background: -moz-linear-gradient(top,#E62C3E,#F93F51);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#E62C3E), to(#F93F51));
border:#E02638 solid 1px;border-radius:3px;
color:#fff;
}