@charset "utf-8";
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
body{
	color: #525252;
	background-color: #fff;
	min-width:320px;
	font-size:14px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei";
}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #525252;text-decoration:none;}
.auto{
	background-color: #eaeaea;
	max-width: 640px;
	min-width:320px;
	margin: 0 auto;
}
/* 头部 */

.header{ height:40px; position:fixed; left:0; top:0; width:100%; z-index:9999; background:#fff; box-shadow:rgba(0,0,0,0.3) 1px 1px 3px;}
.header .nav li{ float:left; width:25%; text-align:center;}
.header .nav li span{ border-right:#EAEAEA solid 1px;width:100%; display:block; margin-top:5px;}
.header .nav a:last-child span{ border-right:none;}
.header .nav li span img{ width:30px;}
/* 二级菜单 */
.sub_menu{overflow:scroll; left:0;}
.sub_menu,.shop_info{ background:rgba(0,0,0,0.8); position:fixed; top:40; z-index:1000; width:100%; display:none; }
.sub_menu ul li h2{ display:block; list-style:circle; cursor:pointer;  margin:0;color:#efefef; font-weight:bold; font-size:16px; padding:7px 20px; display:block; text-align:left;}
.sub_menu_list a:active{ background:#000;}
.sub_menu ul li h2.cur{ border-left:#1B5A24 solid 3px;background:#000;}
.sub_menu .fun{ padding:10px 20px; overflow:hidden;}
.sub_menu .fun a{color:#000; display:block; float:left; background:url(../images/arr.png) no-repeat 99% 15px #fff; background-size:13px;  font-size:16px;vertical-align:middle; width:100%; height:40px; line-height:40px; text-align:left; margin-bottom:5px;}
.sub_menu .fun .code{ float:left;}
.sub_menu .fun .fav{ float:right;}
.sub_menu .fun img{ width:30px; height:30px; margin:0 10px 5px; vertical-align:middle;}
.sub_menu_list{ display:none; background:rgba(255,255,255,0.1);}
.sub_menu_list a{ font-weight:normal;display:block; list-style:circle; margin:0;color:#efefef;  font-size:16px; padding:7px 10px; display:block; text-align:left;}
.sub_menu_list li{ margin-left:20px; font-weight:normal; font-size:14px;}
/* 店铺信息 */
.shop_info{ background:#333;padding:10px; display:none; left:100%;}
.shop_info .shop_code{ width:140px; height:140px; float:left; margin-right:10px;}
.shop_info .shop_name{ color:#fff; padding:0 0 5px 0; font-size:18px;}
.shop_info .shop_detail{ overflow:hidden; width:140px;}
.shop_info .shop_detail span{ color:#fff; display:block;  float:left; font-size:14px; line-height:28px;}
.shop_info .shop_detail span strong{ color:#c00; font-size:16px;}
.shop_info .back{ background:#fff; border:#ccc solid 3px; display:block; width:132px; float:left; padding:5px; text-align:center; margin-top:10px;}
.fav_msg{display:none;position:fixed;  top:25%; left:25%; background:rgba(0,0,0,0.2); overflow:hidden; color:#fff; padding:3%;border-radius:10px; font-size:18px; height:39px; line-height:39px; vertical-align:middle; text-align:center; z-index:12345;}
.fav_msg img{ margin-right:5px;vertical-align:bottom;}
/*banner*/
.banner{margin: 40px auto 0; position:relative; background:#fff; width:100%; overflow:hidden;}
.banner .lo_sh{ position:absolute; left:0; bottom:0; width:100%;}
.banner .logo{ height:40px; margin:0 5px; display:block; float:left;  border-radius:5px 5px 0 0;}
.banner .logo img{ height:40px; border-radius:5px 5px 0 0;}
.banner .searchBar{ position:relative; float:left; height:38px;}
.banner .search_btn,.banner .search_text{ position:absolute; left:0; top:0;height:38px; padding:5px; }
.banner .search_btn{ width:40px; background:url(../images/search_btn.png) no-repeat center center; background-size:30px; height:38px; cursor:pointer; border:none;}
.banner .search_text{ padding-left:40px;border:#ccc solid 1px;  color:#999;}
.flex-control-nav{ display:none;}
/* 分类 */
.sort{ background:#f1f1f1; overflow:hidden; margin-bottom:2%;}
.sort a{ float:left; width:33%; display:block; text-align:center; }
.sort a:nth-child(3n){ width:34%;}
.sort a:active{ background:#fff;}
.sort a li{border-left:#dadada solid 1px; border-right:#fdfdfd solid 1px; border-bottom:#dadada solid 1px; border-top:#fdfdfd solid 1px;}
.sort a li:nth-child(3n){ border-right:none;}
.sort li img{ width:100px;}
.sort li span{ text-align:center; width:100%; display:block; padding:0 0 10px;}
/* 列表 */
.lists{ overflow:hidden; padding-bottom:1%;}
.lists h2{ border-left:#485168 solid 5px; margin:0 2%; padding-left:2%; color:#666;}
.lists h2 a{ float:right; color:#485168;}
.lists li{ float:left; padding:3%; box-shadow:#aaa 0 0 4px;border-radius:5px; width:40%; margin:2%; float:left; background:#fff;	}
.lists li img{width:100%;}
.lists p{ text-align:left; height:38px;line-height:19px; overflow:hidden; padding:5px 0 0;}
.lists span{ display:block; text-align:left; color:#b20005; font-weight:bold; font-size:16px;}

/* 底部 */
.footer{ width:100%; text-align:center; padding:10px 0; border-top:#485168 solid 3px; background:#f9f9f9; position:relative;}
.footer p{ margin:2px 0; font-size:12px;}
.footer p a{ margin:0 5px; font-size:12px;}
.footer .top{ position:absolute; right:2%; bottom:10px; width:40px; height:40px; background:#f5f5f5; border:#ccc solid 1px;border-radius:5px;}
.footer .top img{ width:100%;}



/* 团购 */.tuan-title{border-left:#485168 solid 5px; margin:2%; padding-left:2%; color:#666; }
.tuan_box{ overflow:hidden; padding:10px; background:#eee; position:relative;}
.tuan_list{  overflow:hidden; text-align:center; position:relative; width:100%;}
.tuan_list li a{display:inline-block;  width:200px; padding-bottom:5px; border:#eee solid 1px;}
.tuan_list li .con{ padding:10px;box-shadow:rgba(0,0,0,0.3) 1px 1px 2px; font-size:12px; background:#fff;}
.tuan_list li .con span{ display:block; margin:5px 0;}
.tuan_list li .con .tuan_price strong{ color:#b20005;}
.tuan_list li img{ width:100%;}
.tuan_list li .con .s_time img{ width:20px; height:20px; vertical-align:bottom;}
.tuan_imgbox{ position:relative;}
.tuan_imgbox p{overflow:hidden;  text-overflow: ellipsis;    white-space: nowrap; position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.7); color:#fff; padding:3px 0; text-align:center;}
.tuan_box .prenext{ width:17px; height:43px; background:url(../images/nextpre.png) no-repeat 0 7px; display:block; position:absolute; top:118px; background-size:35px;}
.tuan_box .pre{ left:20px;}
.tuan_box .next{ background-position:-18px 7px; right:20px;}


.red_btn{
background:#485168;
background:linear-gradient(to bottom,#485168,#0E172E);
background: -moz-linear-gradient(top, #485168,#0E172E);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#485168), to(#0E172E));
border:#0E172E solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#0E172E;
background:linear-gradient(to bottom,#0E172E,#485168);
background: -moz-linear-gradient(top, #0E172E,#485168);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#0E172E), to(#485168));
border:#0E172E solid 1px;border-radius:3px;
color:#fff;
}